# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Drizzle
# Get the Database URL from the "prisma" dropdown selector in PlanetScale
# Change the query params at the end of the URL to "?ssl={"rejectUnauthorized":true}"
# OR
# run `docker-compose up` to start the a MYSQL database locally
DATABASE_URL='mysql://root@localhost:3306/inngest-gpt'

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# OpenAI Credentials to access gpt-4
OPENAI_API_KEY=""
OPENAI_MODEL_ID="gpt-4"
OPENAI_EMBEDDINGS_MODEL="text-embedding-ada-002"

# Sanity
SANITY_STUDIO_PROJECT_ID=""
SANITY_STUDIO_DATASET="production"
SANITY_STUDIO_API_VERSION="2023-10-03"

# Inngest
INNGEST_EVENT_KEY=""
INNGEST_SIGNING_KEY=""

# Mux
MUX_ACCESS_TOKEN_ID=""
MUX_SECRET_KEY=""

# Pinecone
PINECONE_API_KEY=""
PINECONE_ENVIRONMENT=""
PINECONE_INDEX=""
